body {
    background-color: lightyellow;
}
.btn {
    margin-top:30px;
    font-family: Helvetica, sans-serif;
    background-color: lightgrey;
    padding: 15px 32px;
    font-weight: bold;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#pause {
    visibility:hidden;
}
#end {
    visibility:hidden;
}

#again {
    visibility:hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#restart {
    visibility:hidden;
}

#return {
    float:left;
}

#help {
    float:right;
}

#countdown {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}